*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg ,#153677,#4e085f);
    padding: 10px;
    display: flex;
    justify-content: center;
    

}
.todo{
    width: 550px;
    border-radius: 10px;
    align-items: center;
    background: #fff;
    margin-top: 120px;
    
}
.todo h2{
    margin: 30px;
    font-size: 40px; 
}
.todo h2 img{
    width: 35px ;
    margin-left: 10px;
    margin-top: 20px;
    
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 30px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 14px;
    font-size: 15px;


}
#del{
    margin-right: 20px;
}
button{
    outline: none;
    border: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position:relative;
    display: flex;
    justify-content:space-between;

}


ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(To-Do-Img/unchecked.png);
    background-size: cover;
    background-position: center; 
    top: 12px;
    left: 8px;

}


ul li.checked::before{
    background-image: url(To-Do-Img/checked.png);
}
